<body>
    <div class="title-div">
        <span class="title">Projektantrag</span>
    </div>
    
    <form class="form">
        <div class="input-group-3">
            <div class="input-group-1 col-span-2 group">
                <input type="projectTitle" name="floating_projectTitle" id="floating_projectTitle" class="input-form peer" placeholder=" " required />
                <label for="floating_projectTitle" class="label-form">Projekttitel</label>
            </div>
            <div class="input-group-1 col-span-1 group">
                <input type="text" id="currentDate" class="input-form peer" [value]="currentDate" readonly />
                <label for="currentDate" class="label-form">Datum</label>
            </div>
        </div>
        <div class="input-group-2">
            <div class="input-group-1 group">
                <input type="applicantName" name="floating_applicantName" id="floating_applicantName" class="input-form peer" placeholder=" " required />
                <label for="floating_applicantName" class="label-form">Projektgeber*in</label>
            </div>
            <div class="input-group-1 group">
                <input type="applicantEMail" name="floating_applicantEMail" id="floating_applicantEMail" class="input-form peer" placeholder=" " required />
                <label for="floating_applicantEMail" class="label-form">Projektgeber*in E-Mail</label>
            </div>
        </div>
        <div class="input-group-3">
            <div class="input-group-1 group">
                <input type="department" name="floating_department" id="floating_department" class="input-form peer" placeholder=" " required />
                <label for="floating_department" class="label-form">Abteilung</label>
            </div>
            <div class="input-group-1 group">
                <mat-form-field>
                    <mat-label>Startdatum</mat-label>
                    <script>
                        console.log(minDate);
                    </script>
                    <input id="startDate" matInput [min]="this.minDate" [matDatepicker]="startDate" (dateChange)="updateMinEndDate($event.value)">
                    <mat-hint>TT.MM.JJJJ</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="input-group-1 group">
                <mat-form-field>
                    <mat-label>Enddatum</mat-label>
                    <input id="endDate" matInput [min]="this.minEndDate" [matDatepicker]="endDate">
                    <mat-hint>TT.MM.JJJJ</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <label for="projectDescription" class="label-form-box">Projektbeschreibung</label>
        <textarea id="projectDescription" rows="4" class="textarea-input" placeholder="Bitte so ausführlich wie möglich die Anforderungen an das Projekt beschreiben"></textarea>
        <label for="capabilityPlanning" class="label-form-box">Ressourcenplanung</label>
        <textarea id="capabilityPlanning" rows="4" class="textarea-input" placeholder="Hier bitte eine Einschätzung der benötigten Materialien/Ressourcen aufführen"></textarea>
        <label for="schedule" class="label-form-box">Zeitplan</label>
        <textarea id="schedule" rows="4" class="textarea-input" placeholder="Hier bitte einen groben Zeitplan festhalten (inkl. Meilensteine und Deadlines)"></textarea>
        <label for="contactPerson" class="label-form-box">Ansprechpartner*in</label>
        <textarea id="contactPerson" rows="4" class="textarea-input" placeholder="Auflistung aller Projektbeteiligten mit entsprechender Funktion im Projekt"></textarea>
        <label for="miscellaneous" class="label-form-box">Sonstiges</label>
        <textarea id="miscellaneous" rows="4" class="textarea-input" placeholder="Freier Textbereich um weitere Informationen oder Ähnliches festzuhalten"></textarea>
    </form>
</body>