<body>
    <div class="title-div">
        <span class="title">Projektantrag</span>
    </div>
    
    <form class="form">
        <div class="input-group-1 group">
            <input type="projectTitle" name="floating_projectTitle" id="floating_projectTitle" class="input-form peer" placeholder=" " required />
            <label for="floating_projectTitle" class="label-form">Projekttitel</label>
        </div>
        <div class="input-group-2">
            <div class="input-group-1 group">
                <input type="applicantName" name="floating_applicantName" id="floating_applicantName" class="input-form peer" placeholder=" " required />
                <label for="floating_applicantName" class="label-form">Projektgeber*in</label>
            </div>
            <div class="input-group-1 group">
                <input type="applicantEMail" name="floating_applicantEMail" id="floating_applicantEMail" class="input-form peer" placeholder=" " required />
                <label for="floating_applicantEMail" class="label-form">Projektgeber*in E-Mail</label>
            </div>
        </div>
        <div class="input-group-3">
            <div class="input-group-1 group">
                <input type="department" name="floating_department" id="floating_department" class="input-form peer" placeholder=" " required />
                <label for="floating_department" class="label-form">Abteilung</label>
            </div>
            <div class="input-group-1 group">
                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="floating_phone" id="floating_phone" class="input-form peer" placeholder=" " required />
                <label for="floating_phone" class="label-form">Date start placeholder</label>
            </div>
            <div class="input-group-1 group">
                <input type="text" name="floating_company" id="floating_company" class="input-form peer" placeholder=" " required />
                <label for="floating_company" class="label-form">Date end placeholder</label>
            </div>
        </div>

        <label for="projectDescription" class="label-form-box">Projektbeschreibung</label>
        <textarea id="projectDescription" rows="4" class="textarea-input" placeholder="Bitte so ausführlich wie möglich die Anforderungen an das Projekt beschreiben"></textarea>
        <label for="capabilityPlanning" class="label-form-box">Ressourcenplanung</label>
        <textarea id="capabilityPlanning" rows="4" class="textarea-input" placeholder="Hier bitte eine Einschätzung der benötigten Materialien/Ressourcen aufführen"></textarea>
        <label for="schedule" class="label-form-box">Zeitplan</label>
        <textarea id="schedule" rows="4" class="textarea-input" placeholder="Hier bitte einen groben Zeitplan festhalten (inkl. Meilensteine und Deadlines)"></textarea>
        <label for="contactPerson" class="label-form-box">Ansprechpartner*in</label>
        <textarea id="contactPerson" rows="4" class="textarea-input" placeholder="Auflistung aller Projektbeteiligten mit entsprechender Funktion im Projekt"></textarea>
        <label for="miscellaneous" class="label-form-box">Sonstiges</label>
        <textarea id="miscellaneous" rows="4" class="textarea-input" placeholder="Freier Textbereich um weitere Informationen oder Ähnliches festzuhalten"></textarea>
    </form>
</body>