/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded-full;
}
.btn-red {
    @apply bg-red-500 text-white;
}
.btn-red:hover {
    @apply bg-red-600;
}
.btn-red:active {
    @apply bg-red-700;
}
.btn-red::selection {
    @apply border-red-950;
}


.bg-solvis-red {
    background-color: #e30613; 
}

.border-solvis-grey {
    border-color: #4f4e52;
}

.text-solvis-grey {
    color: #4f4e52;
}
.text-solvis-red {
    color: #e30613;
}
.text-solvis-red:hover {
    color: #e30613;
}

h2 {
    @apply text-purple-500 text-2xl font-bold;
}

#menu-button1 {
    position: relative;
    top: 0;
    right: 0;
}

/* FORM STYLES */
.form {
    @apply flex justify-center max-w-5xl flex-col mx-auto mt-7 p-0;
}
.input-group-1 {
    @apply relative z-0 w-full mb-6;
}
.input-group-2 {
    @apply grid md:grid-cols-2 md:gap-6;
}
.title {
    @apply text-blue-500 text-4xl font-extrabold;
}
.title-div {
    @apply flex mt-10 justify-center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
