/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded-full;
}
.btn-red {
    @apply bg-red-500 text-white;
}
.btn-red:hover {
    @apply bg-red-600;
}
.btn-red:active {
    @apply bg-red-700;
}
.btn-red::selection {
    @apply border-red-950;
}


.bg-solvis-red {
    background-color: #e30613; 
}

.border-solvis-grey {
    border-color: #4f4e52;
}

.text-solvis-grey {
    color: #4f4e52;
}
.text-solvis-red {
    color: #e30613;
}
.text-solvis-red:hover {
    color: #e30613;
}

h2 {
    @apply text-purple-500 text-2xl font-bold;
}

#menu-button1 {
    position: relative;
    top: 0;
    right: 0;
}

/* FORM STYLES */
.form {
    @apply flex justify-center max-w-5xl flex-col mx-auto mt-7 p-0;
}
.input-form {
    @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600;
}
.input-group-1 {
    @apply relative z-0 w-full mb-6;
}
.input-group-2 {
    @apply grid md:grid-cols-2 md:gap-6;
}
.input-group-3 {
    @apply grid md:grid-cols-3 md:gap-6;
}
.label-form {
    @apply peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
}
.label-form-box {
    @apply block mt-6 mb-2 text-sm font-medium text-gray-900;
}
.textarea-input {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500;
}
.title {
    @apply text-blue-500 text-4xl font-extrabold;
}
.title-div {
    @apply flex mt-10 justify-center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
